<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Agenda</title>
</head>
<body>
    <h2>Login</h2>
    <form action='submit' method="POST">
        {% csrf_token %}
        <label>Usuário:</label>
        <input type="text" name="username">
        <label>Password:</label>
        <input type="password" name="password">
        <button type="submit">Entrar</button>
    </form>
    {% for message in messages %}
        <strong>Erro </strong>{{ message }}
    {% endfor %}
</body>
</html>